/* Sizing & Display */
html, body, #app {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
}

main {
    flex-shrink: 0;
}

ul.pagination {
    margin-top: 16px;
    justify-content: flex-end;
}

footer.footer {
    margin-top: auto;
    background-color: hsl(0, 0%, 25%);
}

/* Font */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Tables */
.table th:first-child,
.table td:first-child {
    padding: 0.75rem 0.75rem 0.75rem 1.25rem;
}

.table th:last-child,
.table td:last-child {
    padding: 0.75rem 1.25rem 0.75rem 0.75rem;
}


/* Cards */
.card.pop {
    transition: all 0.3s ease-in-out;
}

.card.pop:hover {
    -ms-transform: scale(1.005, 1.005);
    -webkit-transform: scale(1.005, 1.005);
    transform: scale(1.005, 1.005);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.shift-server-card:hover {
    cursor: pointer;
}

.shift-server-card.online {
    border-right: .25rem solid #28a745;
}

.shift-server-card.offline {
    border-right: .25rem solid #dc3545;
}

.shift-server-card.unknown {
    border-right: .25rem solid #ffc107;
}

/* Heroes */
#intro-hero-wrapper {
    background-image: url('/img/creative_night.webp'), url('/img/creative_night.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsla(0, 0%, 25%, 1);
}

#intro-hero {
    background-color: hsla(0, 0%, 5%, 0.8);
}

#server-show-hero {
    background-color: hsla(0, 0%, 5%, 0.8);
}


/* Misc. Positioning */
#card-no-data {
    background: url('/img/no_data.svg') center center no-repeat;
    background-size: 50% 50%;
    height: 32rem;
}

#card-rank {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    opacity: 0.5;
}

#card-favicon {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    right: 1.25rem;
    bottom: 1.25rem;
    opacity: 0.5;
}

/* Google reCAPTCHA */
.grecaptcha-badge {
    visibility: hidden;
}
